<div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
  <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}
            </span>
          </h2>
        {%- when 'text' -%}
          <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.text | escape }}
            </span>
          </div>
        {%- when 'buttons' -%}
          <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.button_label_1 != blank -%}
              <a {% if block.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}" {% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}
              </a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a {% if block.settings.button_link_2 == blank %}role="link"aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}" {% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}
              </a>
            {%- endif -%}

          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
